<div style="text-align:left;">
    dev-users（以下「本サービス）という）は株式会社ドリコム（以下「弊社」という）が開発し運営する、ウェブコンテンツサービスです。弊社は、本サイト会員規約（以下「本規約」という）を、以下の通り定めます。<br />
<br />
  <ul>
    <li><%= link_terms_to "第1条(総則)", :action=> '01' %></li>
    <li><%= link_terms_to "第2条(会員および登録)", :action=> '02' %></li>
    <li><%= link_terms_to "第3条(本規約の範囲)", :action=> '03' %></li>
    <li><%= link_terms_to "第4条（本規約の変更）", :action=> '04' %></li>
    <li><%= link_terms_to "第5条（入会の不承認）", :action=> '05' %></li>
    <li><%= link_terms_to "第6条（パスワード管理と責任）", :action=> '06' %></li>
	<li><%= link_terms_to "第7条（会員のプライバシー）", :action=> '07' %></li>
	<li><%= link_terms_to "第8条（データの管理）", :action=> '08' %></li>
	<li><%= link_terms_to "第9条（禁止事項）", :action=> '09' %></li>
	<li><%= link_terms_to "第10条（禁止行為に対する措置）", :action=> '10' %></li>
	<li><%= link_terms_to "第11条（サービスの提供）", :action=> '11' %></li>
	<li><%= link_terms_to "第12条(サービスの中断・停止・廃止)", :action=> '12' %></li>
	<li><%= link_terms_to "第13条（著作権等）", :action=> '13' %></li>
	<li><%= link_terms_to "第14条（免責）", :action=> '14' %></li>
	<li><%= link_terms_to "第15条（紛争の解決）", :action=> '15' %></li>
  </ul>
  
</div>
<br />
